<h1> Edit Duck </h1>
<%= form_for(@duck) do |x| %>
   Name: <%= x.text_field :name %>
   Description: <%= x.text_field :description %>
    <%= x.collection_select :student_id, Student.all, :id, :name%>
    <%= x.submit %>
    <% end %>